.conteudo-centralizado{
  z-index: 999;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  }


  
  .area-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
  }

  .estilizar{
    padding-right: 0%;
    padding-left: 40%;
  }

  button {
    justify-content: left;
    margin-top:20px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border:none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 550px;
    margin-right: 350px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(119, 119, 119, .1);
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
    color: black;
  }
  
  label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 510px;
  }